    body {
        color: #F6F5F1
    }

.horoscopes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horoscope {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    
}

.horoscopeValues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
p{
    /* text-align:left; */
    font-size: 16px;
}

input[type=text]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.signHoroscopeList__user{
    position: absolute;
    right: 20%;
    left: 20%
}


.signHoroscopeCard {
    padding-top: 20px
}
.allHoroscopes{
    display: flex;
    flex:content;
}

.horoscopeToday{
    border-style: solid ;
    margin: 20px
}
.horoscopeYesterday{
    border-style: solid ;
    margin: 20px
}
.horoscopeTomorrow{
    border-style: solid ;
    margin: 20px
}

.savingTodaybtn{
    display: block;
    margin-left: 150px;
    margin-bottom: 10px;
}
.todaySectionTitle{
    display: block;
    margin-left: 170px;
}
.tomorrowSectionTitle{
    display: block;
    margin-left: 140px;
}
.yesterdaySectionTitle{
    display: block;
    margin-left: 130px;
}